---
---

@import "{{ site.theme }}";

#footer_wrap {display: none;}

#forkme_banner {display: none;}

#downloads {display: none;}

section#main_content {
  padding-top: 6px;
}

section#hdr_content {
  padding: 20px 10px 6px 10px;
}
